<div class="diary-content">

  <div class="diary-title">
    記事の更新
  </div>

  <%= form_with model: @diary, local: true do |f| %>
  <div class="diary-form">
    <div class="field">
      <%= f.label "タイトル" %><br/>
      <%= f.text_field :title, class: "text-form" %>
    </div>
    <div class="field">
      <%= f.label "画像" %><br/>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label "内容" %><br/>
      <%= f.text_area :content, class: "text-area" %>
    </div>
    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  </div>
  <% end %>
</div>