<div class="body-container">

  <div class="side-bar">
    <div class="side-bar-container">
        <%= form_with url: search_diaries_path, method: :get, class: "search-form", local: true do |form| %>
          <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
      <div class="user-name-list-title">
        <%= "<user_list>" %>
      </div>
      <ul class="user-name-list">
        <% @users.each do |user| %>
          <li class="user-name">
            <%= link_to "#{user.name}", user_path(user.id) %>
          </li>
        <% end %>
      </ul>
      <div class="tag-name-list-title">
        <%= "<tag_list>" %>
      </div>
      <ul class="tag-name-list">
        <% @tags.each do |tag| %>
          <li class="tag-name">
            <%= link_to "#{tag.tag_name}", tag_path(tag.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="main-bar">
    <div class="main-bar-title">
      投稿記事一覧
    </div>
    <div class="diary-box">
      <div class="diary-items">
        <%= render partial: 'diary-list', collection: @diaries, as: "diary" %>
      </div>
      <div class="main-bar-button">
      < 前のページ 次のページ>
      </div>
    </div>
  </div>

</div>