<div class="body-container">

  <div class="side-bar">
    <div class="side-bar-container">
      <div class="search-form-container">
        <%= form_with url: search_diaries_path, method: :get, class: "search-form", local: true do |form| %>
          <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "seach-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
      <div class="user-name-list-title">
        <%= "<user_list>" %>
      </div>
      <ul class="user-name-list">
        <li class="user-name">user_name</li>
        <li class="user-name">user_name</li>
        <li class="user-name">user_name</li>
        <li class="user-name">user_name</li>
        <li class="user-name">user_name</li>
      </ul>
      <div class="tag-name-list-title">
        <%= "<tag_list>" %>
      </div>
      <ul class="tag-name-list">
        <li class="tag-name">tag_name</li>
        <li class="tag-name">tag_name</li>
        <li class="tag-name">tag_name</li>
        <li class="tag-name">tag_name</li>
        <li class="tag-name">tag_name</li>
      </ul>
    </div>
  </div>

  <div class="main-bar">
    <div class="main-bar-title">
      投稿記事一覧
    </div>
    <div class="diary-box">
      <div class="diary-items">
        <%= render partial: 'diary-list', collection: @diaries, as: "diary" %>
      </div>
      <div class="main-bar-button">
      < 前のページ 次のページ>
      </div>
    </div>
  </div>

</div>