日記詳細ページ
<div>
  <%= @diary.title %>
</div>
<div>
  <%= image_tag @diary.image if @diary.image.attached? %>
</div>
<div>
  <%= @diary.content %>
</div>
<div>
  <%= "tag" %>
</div>
<div>
  <%= link_to "編集", edit_diary_path(@diary.id) %>
</div>

<h1>投稿コメント一覧</h1>
<div>
  <% @comments.each do |comment| %>
    <div>
      <%= comment.comment %>
    </div>
  <% end %>
</div>
<div>
  <%= form_with model: @comment, url: diary_comments_path(@diary.id), local: true do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "投稿" %>
  <% end %>
</div>