日記詳細ページ
<div>
  <%= @diary.title %>
</div>
<div>
  <%= image_tag @diary.image if @diary.image.attached? %>
</div>
<div>
  <%= @diary.content %>
</div>
<div>
  <%= "tag" %>
</div>
<div>
  <%= link_to "編集", url: edit_diary_path %>
</div>