<div class="show-diary-container">

  <div class="show-diary-title"><%= @diary.title %></div>
  <div class="tag-container">
    <% @diary.tags.each do |tag| %>
      <div class="tag-name">
        <%= tag.tag_name %>
      </div>
    <% end %>
    <%= form_with model: @tag, url: tags_path, local: true do |f| %>
    <div class="tag-forms">
        <%= f.text_field :tag_name, class: "tag-form" %>
        <%= f.submit "＋", class: "tag-button" %>
        <%= hidden_field_tag "tag[diary_ids][]", @diary.id %>
        </div>
    <% end %>
  </div>

  <div class="show-diary-content">
    <div class="show-diary-image">
      <%= image_tag @diary.image.variant(resize: '600x600') if @diary.image.attached? %>
    </div>
    <div class="show-diary-detail">
      <% if current_user != nil && @diary.user.id == current_user.id %>
        <span class="show-diary-edit-btns">
          <%= link_to "この記事を編集", edit_diary_path(@diary.id), class: "show-diary-edit-btn" %>
          <%= link_to "削除", diary_path(@diary.id), method: :delete, class: "show-diary-edit-btn" %>
        </span>
      <% else %>
        <div class="show-diary-user">
          <%= link_to "#{@diary.user.name}", user_path(@diary.user.id) %>
        </div>
      <% end%>
      <span class="show-diary-text"><%= @diary.content %></span>
    </div>
  </div>

  <div class="comment-area">
    <h1 class="comment-area-title">★投稿コメント一覧★</h1>
    <% @comments.each do |comment| %>
      <% if @diary.user.id == comment.user.id %>
        <div class="comment-text comment-owner">
          <div><%= comment.comment %></div>
          <div class="comment-user-name"><%= comment.user.name %></div>
        </div>
      <% else %>
        <div class="comment-text comment-other">
          <div><%= comment.comment %></div>
          <div class="comment-user-name"><%= comment.user.name %></div>
        </div>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <%= form_with model: @comment, url: diary_comments_path(@diary.id), local: true do |f| %>
        <div class="comment-form">
          <%= f.text_area :comment, class: "comment-text-area" %>
          <%= f.submit "コメントする", class: "comment-submit" %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>